{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

  {#% include "flash.html.twig" %#} 


 <h3 class="row justify-content-center pb-4">Mon profil</h3>
    <div class="row justify-content-center">
      <div class="col-md-6 row justify-content-center">
        {% if app.user.sexe == 'masculin' %}
          <img class=" img-fluid w-50 " src="{{ asset('build/images/homme.png')}}" >
        {% elseif app.user.sexe == 'feminin' %}
          <img class=" img-fluid w-50 " src="{{ asset('build/images/femme.png')}}" >
        {% endif %}

      </div>
      <div class="col-md-6 p-5">
        <table class="table table-hover">
          <tbody >
            <tr>
              <th scope="row">Nom</th>
              <td>{{app.user.name}} </td>
            </tr>
            <tr>
              <th scope="row">Prénom</th>
              <td>{{app.user.firstName}}</td>
            </tr>
             <tr>
              <th scope="row">Genre</th>
              <td>{{app.user.sexe}}</td>
            </tr>
            <tr>
              <th scope="row">Adresse</th>
              <td>{{app.user.adresse}}</td>
            </tr>
            <tr>
              <th scope="row">Code Postale</th>
              <td>{{app.user.postalCode}}</td>
            </tr>

            <tr>
              <th scope="row">E-mail</th>
              <td>{{app.user.email}}</td>
            </tr>
          </tbody>
        </table>
          <a class="btn btn-outline-info" href="{{path('app_profile_edit')}}">Modifier informations</a>
          <a class="btn btn-outline-info" href="{{path('app_profile_password_edit')}}">Modifier Mot de passe</a>
          <a class="btn btn-outline-info" href="">Supprimer mon compte </a> 
      </div>
    </div>

{% endblock %}
