{% extends 'base.html.twig' %}

{% form_theme PasswordForm 'bootstrap_5_layout.html.twig' %}

{% block title %}Profil de l'utilisateur{% endblock %}

{% block body %}

{% include "flash.html.twig" %}
<h2 class="text-center">Modifier mot de passe</h2>

<div class="d-flex justify-content-center align-items-center">
    <div class="col-md-8">
        {{ form_start(PasswordForm, {'attr': {'class': 'row', 'novalidate': 'novalidate'}}) }}

        {{ form_row(PasswordForm.oldPassword) }}
        {{ form_row(PasswordForm.password) }}
        {{ form_row(PasswordForm._token) }}

        <div class="text-center mt-3">
            <button type='submit' class="btn bouton" aria-label="modifier mot de passe">Modifier mot de passe</button>
            <a class="btn bouton pt-2" href="{{ path('app_profile') }}">Retour à la liste</a>
        
        </div>
        
        {{ form_end(PasswordForm, { render_rest: false }) }}
    </div>
</div>

{% endblock %}
