{% extends 'base.html.twig' %}

{% form_theme PasswordForm 'bootstrap_5_layout.html.twig' %}

{% block title %}Profil de l'utilisateur{% endblock %}

{% block body %}

 {% include "flash.html.twig" %} 

    {{form_start(PasswordForm, {'attr':{'class':'row','novalidate':'novalidate'}} )}}

        {{form_row(PasswordForm.oldPassword,{'row_attr':{'class':'col-md-6'}})}}
        {{form_row(PasswordForm.password,{'row_attr':{'class':'col-md-6'}})}}
        {{form_row(PasswordForm._token)}}

    <button type='submit' class='btn btn-info'>Modifier mot de passe</button>
    {# {render_rest:  veut dire n'affiche pas le reste des autres champs dans mon formulaire #}
    {{form_end(PasswordForm, {render_rest:false })}}

{% endblock %}