{% extends 'base.html.twig' %}

{% block title %}Evénements{% endblock %}



{% block body %}

    <h1 class="text-center title">Nos événements  <img class="px-4" width=120px height=100px src="{{ asset('/build/images/calendar.png')}}" alt="événement"></h1>

    <div class="col-12">        

        <div class="col-10 col-md-4 px-2">
            <h3 class="p-3 title2">Rechercher un événement</h3>
            <form action="{{path('app_search_event')}}" class="form-inline d-flex">
                <input class="form-control mr-sm-2" name="search" type="search" placeholder="Chercher" aria-label="Chercher">
                <button class="btn btn-success" type="submit" aria-label="chercher un événement">Chercher</button>
            </form>
        </div>


        <div class="row justify-content-center col-md-12 border px-2">

            {#% include "flash.html.twig" %#}
        
            {% for event in events %}
                <div class="card col-md-4 m-4" style="width: 18rem;">
                        {% if event.picture is empty%}
                            <img class="h-50" src="{{ asset('/uploads/event/default.webp') }}" alt="{{event.name}}" name="{{event.name}}">
                        {% else %}
                            <img class="h-50" src="{{ asset('/uploads/event/' ~ event.picture)}}" alt="{{event.name}}" name="{{event.name}}">
                        {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{event.name}}</h5>
                        <p>Du : {{ event.startAt ? event.startAt|date('d-m-Y H:i') : '' }}</p>
                        <p>Au : {{ event.endAt ? event.endAt|date('d-m-Y H:i') : '' }}</p>
                        <p>A : {{event.city}} </p>
                        <p class="card-text">{{event.price}} €</p>

                    <div class="row">
                        
                        <a class="btn btn-info " href="{{ path('app_event_show', {'id': event.id}) }}">Voir</a>
                        
                        {% if app.user and "ROLE_ADMIN" in app.user.getroles()  %}
                            <a class="btn btn-warning mt-2" href="{{ path('app_event_edit', {'id': event.id}) }}">Modifier</a>
                            <a class="btn btn-danger mt-2" href="{{path('app_event_delete', {'id': event.id}) }}">Supprimer</a>    
                        {% endif %}
                    </div>
                    </div>
                </div>

            {% endfor %}

        </div> 

    

        


        <div class="d-flex justify-content-center navigation col-md-12">
            {{ knp_pagination_render(events) }}
        </div> 

 
            {% if app.user and "ROLE_ADMIN" in app.user.getroles()  %}
                <div class="row justify-content-center">
                <a class="my-5 col-3 btn btn-primary" href="{{ path('app_event_new') }}">Créer un nouvel événement</a>
                </div>           

            {% endif %}

</div>

{% endblock %}
