{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}



{% block body %}

    <h1 class="d-flex justify-content-center align-items-center title">Nos évenements  <img class="px-4" src="{{ asset('/build/images/calendar.svg')}}" alt="evenement"></h1>
<div class="col-10">        
        <div class="col-md-4">
            <h3 class="p-3 title2">Rechercher un evenement</h3>
            <form action="{{path('app_search_event')}}" class="form-inline my-2 my-lg-0 d-flex">
                <input class="form-control mr-sm-2" name="search" type="search" placeholder="Chercher" aria-label="Chercher">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" aria-label="chercher un evenement">Chercher</button>
            </form>
        </div>


        <div class="row justify-content-center col-md-12 border px-2">

            {#% include "flash.html.twig" %#}
        
          


            {% for event in events %}
                <div class="card col-md-4 m-4" style="width: 18rem;">
                        {% if event.picture is empty%}
                            <img class="h-50" src="{{ asset('/uploads/event/default.webp') }}" alt="{{event.name}}" name="{{event.name}}">
                        {% else %}
                            <img class="h-50" src="{{ asset('/uploads/event/' ~ event.picture)}}" alt="{{event.name}}" name="{{event.name}}">
                        {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{event.name}}</h5>
                        <p>Du : {{ event.startAt ? event.startAt|date('d-m-Y H:i') : '' }}</p>
                        <p>Au : {{ event.endAt ? event.endAt|date('d-m-Y H:i') : '' }}</p>
                        <p>A : {{event.city}} </p>
                        <p class="card-text">{{event.price}} €</p>


                        <a class="btn btn-info" href="{{ path('app_event_show', {'id': event.id}) }}">Voir</a>
                        {% if app.user and "ROLE_ADMIN" in app.user.getroles()  %}
                            <a class="btn btn-warning" href="{{ path('app_event_edit', {'id': event.id}) }}">Modifier</a>
                            <a class="btn btn-danger" href="{{path('app_event_delete', {'id': event.id}) }}">Supprimer</a>    
                        {% endif %}
           
                    </div>
                </div>

            {% endfor %}

        </div> 

    

        


            <div class="navigation col-md-8">
                {{ knp_pagination_render(events) }}
            </div> 

 
            {% if app.user and "ROLE_ADMIN" in app.user.getroles()  %}
                <div class="row justify-content-center">
                <a class="my-5 col-md-2 btn btn-primary" href="{{ path('app_event_new') }}">Créer nouveau</a>
                </div>           

            {% endif %}

</div>

{% endblock %}
