{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}


{% block body %}
    <h3 class="row justify-content-center"> Mon Evenement</h3>




    <div class="col-md-8 mx-auto">
       

            <h3>{{ event.name }} </h3>

                {% if event.picture is empty%}
                        <img class="col-md-2" src="{{ asset('build/images/default.webp') }}" alt="{{event.name}}" title="{{event.name}}">
                {% else %}
                        <img class="col-md-2" src="{{ asset('build/images/' ~ event.picture)}}" alt="{{event.name}}" title="{{event.name}}">
                {% endif %}

                <p>Detail : {{event.description}}</p>
                <p>Debut : {{ event.startAt ? event.startAt|date('d-m-Y - H:i') : '' }}</p>
                <p>Fin : {{ event.endAt ? event.endAt|date('d-m-Y - H:i') : '' }}</p>
                <p>Prix : {{event.price}} €</p>
    

 

                <a class="btn btn-info" href="{{ path('app_event_index') }}">retour à la liste</a>

            {% if app.user and 'ROLE_ADMIN' in app.user.getroles()  %}

                <a class="btn btn-primary" href="{{ path('app_event_edit', {'id': event.id}) }}">Modifier</a>
                {{ include('event/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}
    
            {% endif %}
        
    </div>
{% endblock %}
