{% extends 'base.html.twig' %}

{% block title %}Evénement{% endblock %}


{% block body %}
    <h3 class="text-center title2"> Mon Evénement</h3>




    <div class="col-md-8 mx-auto px-3">
       

            <h3>{{ event.name }} </h3>

                {% if event.picture is empty%}
                        <img class="col-4 col-md-2" src="{{ asset('build/images/default.webp') }}" alt="{{event.name}}" title="{{event.name}}">
                {% else %}
                        <img class="col-4 col-md-2" src="{{ asset('build/images/' ~ event.picture)}}" alt="{{event.name}}" title="{{event.name}}">
                {% endif %}

                <p>Détail : {{event.description}}</p>
                <p>Début : {{ event.startAt ? event.startAt|date('d-m-Y - H:i') : '' }}</p>
                <p>Fin : {{ event.endAt ? event.endAt|date('d-m-Y - H:i') : '' }}</p>
                <p>Prix : {{event.price}} €</p>
    
                <a class="btn bouton" href="{{ path('app_event_index') }}">Retour à la liste</a>

            {% if app.user and 'ROLE_ADMIN' in app.user.getroles()  %}

                <br><a class="btn bouton mt-4" href="{{ path('app_event_edit', {'id': event.id}) }}">Modifier</a>
                {{ include('event/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}
    
            {% endif %}
        
    </div>
{% endblock %}
