{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <img class="col-12" src="{{ asset('build/images/accueil.png')}}" alt="photo de l'equipe">


    <div class="d-flex justify-content-center col-12">
        <div class="col-4">
            <img class="p-4 border rounded"width="400px" src="{{ asset('build/images/event.jpg')}}" alt="photo de l'equipe">
        </div>
        <div class="col-5 pt-5">
            <p class="fs-5 ">Bienvenue chez PAN Afrique , votre partenaire de confiance en matière de consultation et conseil stratégique et opérationnel. Forts de plusieurs années d'expérience et d'une expertise reconnue dans divers secteurs, nous accompagnons les entreprises de toutes tailles dans leurs projets de transformation et de développement. Notre équipe de consultants chevronnés met à votre disposition des solutions sur mesure pour optimiser vos performances, innover et atteindre vos objectifs. Chez PAN Afrique, nous croyons en une approche collaborative et centrée sur le client, garantissant des résultats tangibles et durables. Explorez nos services pour découvrir comment nous pouvons contribuer à votre succès.</p>
        </div>
    </div>





{#evenement#}
    <h3 class="d-flex justify-content-center align-items-center pt-4 px-2">Nos derniers évenements  <img class=""width=80px height=80px src="{{ asset('/build/images/calendar1.png')}}" alt="evenement"></h3>
    <div class="col-10 p-4 d-flex justify-content-center">
        
        <div class="col-4 row ">
            <p>Ne ratez plus aucun évènement grace a notre page qui recense tout les évènements auquel participer!<br>
            vous trouverez tout pleins d'activités, de salon, de meeting sur differents domaine!</p>
            <a class="my-5 col-md-4 btn btn-success" href="{{path('app_event_index')}}">Découvrez nos évènements</a>
        </div>
        <div class="col-4">
            <img class="border border-success border-2 rounded" src="{{ asset('build/images/orga.jpg')}}" alt="">
        </div>
    </div>

       


    {#<a class="my-5 col-md-2 btn btn-primary" href="{{path('app_prestation')}}">Nos prestations</a>
   #}
    
    
{#avis#}


    <h3 class="d-flex justify-content-center align-items-center pt-4 ">TEMOIGNAGES  <img class="px-2"width=80px height=80px src="{{ asset('/build/images/temoignages.png')}}" alt="evenement"></h3>
    
    <div class="d-flex justify-content-center pt-4">
        <p>100% de nos clients satisfaits</p>
        <div class="px-4">
            <img class="" width="30px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
            <img class="" width="30px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
            <img class=" "width="30px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
            <img class=" " width="30px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
            <img class=" " width="30px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
        </div>
    </div>

    <div class="row justify-content-center p-4 ">
        
        <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
                <img class=" img-fluid w-50 rounded" src="{{ asset('build/images/femme.png')}}" alt="femme">
                <h5 class="card-title">Isabelle Dubois</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">15/05/2024</h6>
                <p class="card-text">Merci pour prestation! je recommande !</p>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
                <img class=" img-fluid w-50 rounded" src="{{ asset('build/images/femme.png')}}" alt="femme">
                <h5 class="card-title">Isabelle Dubois</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">15/05/2024</h6>
                <p class="card-text">Merci pour prestation! je recommande !</p>
            </div>
        </div>


        <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
                <img class=" img-fluid w-50 rounded" src="{{ asset('build/images/femme.png')}}" alt="femme">
                <h5 class="card-title">Isabelle Dubois</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">15/05/2024</h6>
                <p class="card-text">Merci pour prestation! je recommande !</p>
            </div>
        </div>

    </div>


    
    


{% endblock %}
