{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}
    <div>
        <img class="col-12" src="{{ asset('build/images/accueil.png')}}" alt="photo de l'equipe">
    </div>
    <img class="col-12" src="{{ asset('build/images/accueil.png')}}" alt="photo de l'equipe">

{#INTRO #}
    <div class="row  justify-content-center align-items-center col-12 col-md-12  pt-4">
        <div class="col-4 col-md-4">
            <img class="img-fluid box rounded zoom"width="300px" src="{{ asset('build/images/event.jpg')}}" alt="photo de l'equipe">
        </div>
        <div class="col-10 col-md-5 pt-5">
            <p class="fs-5 ">Bienvenue chez PAN Afrique , votre partenaire de confiance en matière de consultation et conseil stratégique et opérationnel. Forts de plusieurs années d'expérience et d'une expertise reconnue dans divers secteurs, nous accompagnons les entreprises de toutes tailles dans leurs projets de transformation et de développement. Notre équipe de consultants chevronnés met à votre disposition des solutions sur mesure pour optimiser vos performances, innover et atteindre vos objectifs. Chez PAN Afrique, nous croyons en une approche collaborative et centrée sur le client, garantissant des résultats tangibles et durables. Explorez nos services pour découvrir comment nous pouvons contribuer à votre succès.</p>
        </div>
    </div>


{#evenement#}

    <h3 class="text-center pt-4 px-2">Nos derniers événements  <img class=""width=80px height=80px src="{{ asset('/build/images/calendar1.png')}}" alt="événement"></h3>
    <div class="d-flex justify-content-center">
        
        <div class="col-6 col-md-3">
            <p>Ne ratez plus aucun événement grace a notre page qui recense tout les événements auquel participer!<br>
            vous trouverez tout pleins d'activités, de salon, de meeting sur differents domaine!</p>
            <a class="my-5  btn bouton" href="{{path('app_event_index')}}">Découvrez nos événements</a>
        </div>
        
        <div class="px-4 col-md-4 ">
            <img class="box rounded zoom img-fluid" src="{{ asset('build/images/orga.jpg')}}" alt="">
        </div>

    </div>

{#avis#}


    <h3 class="text-center  pt-4 ">TEMOIGNAGES  <img class="px-2"width=80px height=80px src="{{ asset('/build/images/temoignages.png')}}" alt="événement"></h3>
    
    <div class="d-flex justify-content-center pt-4">
        <p>100% de nos clients satisfaits</p>
        <div class="px-4">
            <img class="" width="30px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
            <img class="" width="30px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
            <img class=" "width="30px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
            <img class=" " width="30px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
            <img class=" " width="30px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
        </div>
    </div>

    <div class="row justify-content-center p-4 ">
        
        <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
                <img class=" img-fluid w-50 rounded" src="{{ asset('build/images/homme.png')}}" alt="femme">
                <div class="">
                    <img class="" width="15px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
                    <img class="" width="15px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
                    <img class=" "width="15px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
                    <img class=" " width="15px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
                    <img class=" " width="15px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
                </div>
                <h5 class="card-title">Imraan AOURI</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">15/05/2024</h6>
                <p class="card-text">pan m'a mit en relation avec une societe francaise, grace a vous nous allons collaborer ensembler et developper notre activité</p>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
                <img class=" img-fluid w-50 rounded" src="{{ asset('build/images/femme.png')}}" alt="femme">
                
                <div class="">
                    <img class="" width="15px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
                    <img class="" width="15px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
                    <img class=" "width="15px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
                    <img class=" " width="15px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
                    <img class=" " width="15px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
                </div>
                <h5 class="card-title">Isabelle Dubois</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">15/05/2024</h6>
    
                <p class="card-text">J'ai eu recours au service de la societe j'en suis totalement satisfaite !</p>
            </div>
        </div>


        <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
                <img class=" img-fluid w-50 rounded" src="{{ asset('build/images/femme.png')}}" alt="femme">
                                <div class="">
                    <img class="" width="15px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
                    <img class="" width="15px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
                    <img class=" "width="15px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
                    <img class=" " width="15px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
                    <img class=" " width="15px" src="{{ asset('build/images/etoile.png')}}" alt="etoile">
                </div>
                <h5 class="card-title">Nathalie Sourour</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">15/05/2024</h6>
                <p class="card-text">Merci pour la prestation! je recommande !</p>
            </div>
        </div>

    </div>


    
    


{% endblock %}
