{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    
{#% include "flash.html.twig" %#}
    
    <div class="col-10 mx-auto">

        <h3>{{ article.titre }} </h3>
        {% if article.photo is empty%}
                        <img class="col-4 col-md-3" src="{{ asset('build/images/default.webp') }}" alt="{{article.titre}}" titre="{{article.titre}}">
        {% else %}
                        <img class="col-4 col-md-3" src="{{ asset('build/images/' ~ article.photo)}}" alt="{{article.titre}}" titre="{{article.titre}}">
        {% endif %}
        
    <p class="col-6"> {{ article.description }} </p>
    <p>Date: {{ article.date|date('d/m/Y ') }}</p>



    <a class="btn bouton mb-2" href="{{ path('app_article_index') }}">Retour à la liste</a>

     {% if app.user and 'ROLE_ADMIN' in app.user.getroles()  %}
        <br>
        <a class="btn bouton mb-2" href="{{ path('app_article_edit', {'id': article.id}) }}">Modifier</a>
        
        {{ include('article/_delete_form.html.twig') }}

    {% endif %}


    {#{ include('commentaire/show.html.twig') }}

    {% if app.user is not null %}
        {{ include('commentaire/index.html.twig') }}
    {% endif %#}

{% endblock %}
